{% extends "base.html" %}
{% block content %}
<div class="text-center mt-5">
    <img src="{{ url_for('static', filename='images/spacevision_logo.png') }}" alt="Logo" class="mb-3 home-logo">
    <h1 class="display-4 fw-bold mt-3 text-info">SpaceVision AI</h1>
    <p class="lead">Astronaut Gear Detection Interface</p>
    <hr class="my-4">
    <p>Detect critical astronaut equipment in real-time using advanced AI.</p>
    <a href="{{ url_for('upload') }}" class="btn btn-primary btn-lg m-2">Upload Image</a>
    <a href="{{ url_for('webcam') }}" class="btn btn-outline-info btn-lg m-2">Webcam Mode</a>
</div>
{% endblock %}